<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>747692049872-vpps2i26qq1plvlpnjsdrbb8m6m4sd4p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747692049872-vpps2i26qq1plvlpnjsdrbb8m6m4sd4p</string>
	<key>API_KEY</key>
	<string>AIzaSyBj5K8y16KZLd8xO5mR5PLIQs0v51EBtJY</string>
	<key>GCM_SENDER_ID</key>
	<string>747692049872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Asher-Elgar.SwipeAndPop</string>
	<key>PROJECT_ID</key>
	<string>swipeandpop</string>
	<key>STORAGE_BUCKET</key>
	<string>swipeandpop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747692049872:ios:3ad062407c6b62da</string>
	<key>DATABASE_URL</key>
	<string>https://swipeandpop.firebaseio.com</string>
</dict>
</plist>